ul {
  @media only screen and (max-width: 600px) {
    padding: 0;
  }

  // background: red;
  padding: 0;

  li {
    display: inline;
    padding: 1% 5%;
    background: none;

    @media only screen and (max-width: 600px) {
      display: block;

    }

    a {
      text-decoration: none;
      color: #000;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

}


.dropdown {
  position: relative;

  .drop-down-items {
    min-width: 200px;
    display: none;
    position: absolute;
    height: auto;
    left: -50px;
    text-align: left;
    z-index: 100;

    @media only screen and (max-width: 600px) {
      left: 35%;
      background: red;

    }

    li {
      background: #ecf0f1;
      padding: 5px;
      margin-left: 0;
      display: block;
      width: auto;
    }
  }
}

.dropdown:hover .drop-down-items {
  display: block;
}

li {
  :hover {
    color: #95a5a6;
  }
}


.active-link {
  border-bottom: 1px solid #000;
}

.sign-up {
  background: #000033;
  color: #fff !important;
  padding: 1% 3%;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background: #00001d;
    -webkit-box-shadow: 10px 10px 30px -2px rgba(84, 84, 84, 1);
    -moz-box-shadow: 10px 10px 30px -2px rgba(84, 84, 84, 1);
    box-shadow: 10px 10px 30px -2px rgba(84, 84, 84, 1);

  }

}

.overlay {
  // background: #dfdfdfc9;

  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fadeIn 2s;

  .container {
    position: fixed;
    width: 60%;
    height: 50%;
    left: 20%;
    top: 28%;
    display: flex;
    padding: 0;

    box-shadow: 2px 6px 30px -2px rgba(0,0,0,1);


    div {
      text-align: left;
      padding: 5%;
    }

    .left {
      flex: 1;
      background: #38385F;

    }

    .right {
      flex: 1;
      background: #fff;
    }
  }
}

:host {
  background: red;
}
