<ul>
    <li>
      <a  routerLink="/"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li>
      <a  routerLinkActive="active-link" routerLink="/login">About</a>
    </li>
    <!-- <li>
      <a  routerLinkActive="active-link" routerLink="/login">Login</a>
    </li> -->
    <li>
      <a  routerLinkActive="active-link" class="sign-up" (click)="toggleLogin()">Sign In</a>
    </li>

    <!-- <li class="dropdown">
      <a  routerLinkActive="active-link">Drop down </a>
      <ul class="drop-down-items">
        <li><a  routerLink="/dashboard">Its so..</a></li>
        <li><a  routerLink="">cool </a></li>
      </ul>
    </li> -->
   
  </ul>

  <div class="overlay" *ngIf="showLogin">
    <div class="container">
      <div class="left">
        <h1>
            Sign in
        </h1>
        <p>
            sign in to use the full benefits
            of student-io 
        </p>
      </div>
      <div class="right">
        <button (click)="toggleLogin()">Abort</button>
      </div>
    </div>
  </div>