<div class="about-us">
  <h1>
    Student Management System
    <span class="small">The system provides a 360-degree view over the students, to manage their various needs and
      tracking their educational performance.</span>
  </h1>

  <div class="cards">
    <div class="card card-1">
      <h1>
        Smart data management
      </h1>
      <p>
        Student administrative logistics centralized
      </p>
    </div>
    <div class="card card-2">
      <h1>
        Streamline everyday tasks
      </h1>
      <p>
        Unified view collecting all the useful data on a single screen
      </p>
    </div>
    <div class="card card-3">
      <h1>
        Universal access with ease
      </h1>
      <p>
        Can be accessed by teachers, parents as well
      </p>
    </div>
  </div>

 
</div>
