<div class="features">
  <div class="on-offer">
    <h1>
      On Offer
      <span class="small"> Significant Advantages of using STUDENT-IO </span>
    </h1>
  </div>

  <div class="feature-1">
    <div class="left">
      <h1>Smart management of student’s data</h1>
      <p>
        Students fees, examination, transports, library facility can be accessed
        directly using a unique identification number per student. This can be
        used by a student or the management for tracking their schedules.
      </p>
    </div>
    <div class="right">
      <img
        src="../../../../../../assets/home-images/undraw_status_update_jjgk.png"
        alt=""
      />
    </div>
  </div>

  <div class="feature-2">
    <div class="left">
      <img
        src="../../../../../../assets/home-images/undraw_data_trends_b0wg.png"
        alt=""
      />
    </div>
    <div class="right">
      <h1>Streamline and simplify everyday tasks</h1>
      <p>
        The dashboard helps in reminding which activities an individual needs to
        perform and which of them are already done. It gives a unified view
        collecting all the useful data on a single screen, making sure
        everything important is highlighted. This results in a better
        productivity and growth with minimum effort.
      </p>
    </div>
  </div>

  <div class="feature-1">
    <div class="left">
      <h1>Universal access with ease</h1>
      <p>
        It is not only available for students, but also for teachers, parents,
        and other institution employees. Where teachers can manage their
        classes, students attendance, assignments, and other tasks, while the
        parents can keep a hawk-eyed view over their young ones by using a
        single unified platform. This gives them better control to not only keep
        their tasks organised, but also reminds them who needs more attention.
      </p>
    </div>
    <div class="right">
      <img
        src="../../../../../../assets/home-images/undraw_features_overview_jg7a.png"
        alt=""
      />
    </div>
  </div>
</div>
