.features {
  padding: 3%;
  position: relative;
  color: #000;
  // background: rgb(177, 25, 25);
  height: 130vh;
  background: url(../../../../../../assets/home-images/curve-gray-2.png) bottom no-repeat;
  background-size: cover;

  // -webkit-clip-path: ellipse(58% 57% at 44% 13%);
  // clip-path: ellipse(58% 57% at 44% 13%);

  .on-offer {
    padding-left: 3%;

    h1 {
      .small {
        font-size: 50%;
        display: block;
      }
    }
  }

  .feature-1 {
    display: flex;
    padding: 3%;

    .left {
      flex: 1;
    }

    .right {
      flex: 1;
      text-align: center;


      img {
        width: 50%;
      }
    }
  }

  .feature-2 {
    display: flex;
    padding: 3%;
  
    .left {
      flex: 1;
  
      img {
        width: 60%;
      }
    }
  
    .right {
      flex: 1;
      text-align: center;
  
      p {
        padding: 4%;
  
      }
  
    }
  }

}


