.main {
  .section {
    position: relative;
    width: 100%;
    height: 85vh;
   background: #fff;
    margin-bottom: 0;
    // margin: 1%;

  }

  .home {
    position: relative;
    background: #38385F;
    padding: 1%;
    overflow: hidden;
    // height: ;

    .top,
    .bottom {
      position: absolute;
    }

    .top {
     
      height: 126%;
      width: 98%;
      top: 0;
      border-radius: 53%;
      top: -84%;
      left: -11%;
      background: #ffffff;
      background-size: 60%;
      background-position: 0px 0px;
      .logo{
        position: absolute;
        width: 17%;
        height: 10%;
        bottom: 20%;
        left: 13%;
        
      }
    }

    .bottom {
      height: 115%;
      width: 98%;
      top: 0;
      border-radius: 53%;
      top: 52%;
      background: #ffffff;
      background-size: 60%;
      background-position: 0px 0px;
      right: -29%;
    }
  }
}
