.main {
  .section {
    position: relative;
    width: 100%;
    height: 80vh;
    // background: rgba(128, 128, 128, 0.541);
    margin-bottom: 1%;
    border: 1PX solid black;
  }

  .home {
    position: relative;
    background: #38385F;

    .top,
    .bottom {
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
    }

    .top {
      height: 100%;
      top: 0;
      background: white;
      -webkit-clip-path: ellipse(53% 94% at 33% -8%);
      clip-path: ellipse(53% 94% at 33% -8%);
    }

    .bottom {
      height: 0;
      bottom: 0;
      background: white;
      -webkit-clip-path: ellipse(59% 58% at 51% 97%);
clip-path: ellipse(59% 58% at 51% 97%);
    }
  }
}
