<div class="main" id="main-div">
  <div class="section home">
    <div class="top">
      <div class="logo">
        <img src="../../../../assets/home-images/logo.png" alt="">
      </div>
      <div class="intro-box">
        <h1>
          Why STUDENT<span class="io">-IO</span>
        </h1>
        <p>
          The system provides a 360-degree view over the students, to manage their various needs and tracking their
          educational performance. A single platform can offer an access to all these elements and aid in tracking the
          data on the fly. StudentMGR.IO is a web-based software which can be accessed from anywhere and at any time.
        </p>
        <a routerLink="/login">Get Started</a>
      </div>
    </div>
    <div class="bottom">
      <div class="image">
       <img src="../../../../assets/home-images/undraw_exams_g4ow.png" alt="">
      </div>
    </div>
  </div>
  <div class="section about">
    <app-about-usection></app-about-usection>
  </div>
  <div class="section features">
    <app-features-page-section></app-features-page-section>
  </div>
  <div class="section footer">
    <app-footer-page-section></app-footer-page-section>
  </div>
</div>
