<div class="card">
  <div class="card-header">
    <div class="department">
      <h4 >Accounting & Informatics</h4>
    </div>
    <div class="status">
       <button class="btn-status active">Active</button>
    </div>
  </div>
  <h1>
      Information Technology
  </h1>
  <div class="course-info">
    <div class="values code">
      <h3>
          90A-D05
      </h3>
    </div>
    <div class="labels code-label">
      <p>
        <span>Course</span>
        <span>Code</span>
      </p>
    </div>
   
    <div class="values credits">
        <h3>
            150
        </h3>
    </div>
      <div class="labels credits-label">
        <p>
          <span>Course</span>
          <span>Credits</span>
        </p>
      </div>
  </div>

  <div class="footer">
    <div class="footer-flex">
      <div class="stat">
        <img src="../../../../../assets/courses-images/Path 774.png" alt="">
        <h3>173</h3>
      </div>
      <div class="stat">
        <img src="../../../../../assets/courses-images/Path 774.png" alt="">
        <h3>173</h3>
      </div>
      <div class="stat">
        <img src="../../../../../assets/courses-images/Path 774.png" alt="">
        <h3>173</h3>
      </div>
    </div>
  </div>
  
</div>
