.card {
    background: #3F3D56;
    padding: 3%;
    width: 405.65px;
    height: 30vh;
    border-bottom: 10px solid #FF9933;
    position: relative;
    cursor: pointer;

    h1 {
      color: #fff;
      font-weight: 700;
      font-size: 1.5em;
    }

  }
  