<div class="footer-container">
  <h1>
    Our Support
    <span class="small">
      Contact our support team for assistance with managing STUDENT
      <span class="io">
        -IO
      </span>
    </span>
  </h1>

  <div class="contacts">
    <div>
      <img src="../../../../../../assets/home-images/envelope-solid.png" alt="">
      <p>
              support@studentmgr-io.net

      </p>
    </div>
    <div>
        <img src="../../../../../../assets/home-images/phone-solid.png" alt="">

      <p>
          +011 350 3321
      </p>
    </div>
    <div>
        <img src="../../../../../../assets/home-images/comment-dots-solid.png" alt="">

      <p>
          Online Chat (coming soon)
      </p>
    </div>
  </div>
  <div class="contacts transaprent">
    <div>
      <p>Terms & Conditions Apply</p>
    </div>
    <div>
      <p>Privacy & Cookies Policy</p>
    </div>
    <div class="last">
        <img src="../../../../../../assets/home-images/logo2.png" class="logo-footer" alt="">

    </div>
  </div>
  <div class="contacts transaprent">
    <div></div>
    <div class="social-links">
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <img src="../../../../../../assets/home-images/facebook-square-brands.png"  alt="">
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <img src="../../../../../../assets/home-images/google-plus-square-brands.png"  alt="">
      </a>

    </div>
    <div></div>
</div>
</div>
