<div class="courses-container">
  <h1>All subjects</h1>
  <div class="search-bar">
    <div>

  <button class="btn btn-transparant brown-border">ADD SUBJECT</button>
    </div>
    <div class="filter-image">
      <img  src="assets/courses-images/filter.svg" alt="">
    </div>
    <div class="select">
      <select>
        <option>Faculty</option>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
      </select>
    </div>
    <div class="select">
      <select>
        <option>Location</option>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
      </select>
    </div>
    <div class="select">
      <select>
        <option>Year</option>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
      </select>
    </div>
   
    <div class="input">
      <input type="text" placeholder="Search for course">
    </div>
    <div class="search-btn">
      <a href="/README.md">
      <img src="../../../../assets/courses-images/Group 58.svg" alt="">
      </a>
    </div>
  </div>
  <div class="courses">
    <app-card-courses class="course-card" ></app-card-courses>
    <app-card-courses class="course-card" ></app-card-courses>
    <app-card-courses class="course-card" ></app-card-courses>
    <app-card-courses class="course-card" ></app-card-courses>

  </div>
</div>