<div class="students-container">
  <h1>All students</h1>
  <div class="search-bar">
    <div>

  <button class="btn btn-transparant brown-border">ADD STUDENT</button>
    </div>
    <div class="filter-image">
      <img  src="assets/courses-images/filter.svg" alt="">
    </div>
    <div class="select">
      <select>
        <option>Faculty</option>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
      </select>
    </div>
    <div class="select">
      <select>
        <option>Location</option>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
      </select>
    </div>
    <div class="select">
      <select>
        <option>Year</option>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
      </select>
    </div>
   
    <div class="input">
      <input type="text" placeholder="Search for course">
    </div>
    <div class="search-btn">
      <a href="/README.md">
      <img src="../../../../assets/courses-images/Group 58.svg" alt="">
      </a>
    </div>
  </div>
  <div class="students">
<table>
  <thead>
    <tr>
      <th>Full names</th>
      <th>Email</th>
      <th>Student #</th>
      <th>Cell</th>
      <th>Course</th>
      <th>Year</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of students">
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.studentNumber}}</td>
      <td>{{item.cell}}</td>
      <td>{{item.course}}</td>
      <td>{{item.year}}</td>
      <td>{{item.status}}</td>
      <td>
        <button>1</button>
        <button>1</button>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</div>