.students-container {
  width: 100%;
  padding: 0% 1%;
  position: relative;
  box-sizing: border-box;

  .search-bar {
    display: flex;
    width: 97%;

    div {
      flex: 1;
      margin: .3em;
      min-height: 3em;
      padding: .1em;
      box-sizing: border-box;
    }

    .filter-image {
      text-align: right;

      img {
        width: 2.5em;
      }
    }

    .select {
      select {
        width: 100%;
        padding: .5em;
        font-weight: bold;
        color: #78909C;

      }
    }

    .input {
      input {
        width: 90%;
        padding: .5em;
        font-weight: bold;
        border: none;
        border-bottom: .2em solid #A1616A;
        color: #78909C;
      }
    }

    .search-btn {
      img {
        width: auto;
      }
    }

    div:nth-child(6) {
      flex: 2;
    }
  }

  .students {
    padding: 5%;
    padding-left: 1%;
    -webkit-box-shadow: 10px 10px 59px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 10px 10px 59px 0px rgba(204, 204, 204, 1);
    box-shadow: 10px 10px 59px 0px rgba(204, 204, 204, 1);
    box-sizing: border-box;
    width: 97%;
    margin-left: 1%;

    table {
      width: 100%;
      border-bottom: 5px solid #FF9933;

      thead {
        text-transform: uppercase;
        color: #3F3D56;

        th {
          border-bottom: 3px solid #3F3D56;
          margin: 0;
          padding: 1%;
        }
      }

      tbody {
        border-top: 1px solid RED;

        tr {
          td {
            text-align: center;
            padding: 1%;

            .status {
              text-decoration: none;
              background: #28B463;
              color: #fff;
              padding: 5px 10px;
              border-radius: 50px;
              vertical-align: middle;
              text-align: center;
              font-size: .5vw;
            }

            .circl-bg1 {
              background: #fff;
              padding: 10px;
              border-radius: 1000px;
              width: 20px;
              height: 20px;
              -webkit-box-shadow: 10px 10px 48px -13px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 10px 10px 48px -13px rgba(0, 0, 0, 0.75);
              box-shadow: 10px 10px 48px -13px rgba(0, 0, 0, 0.75);
            }

            .active-color {
              color: #28B463;
            }

            .pending-color {
              color: #FF9933;
            }

            .overdue-color {
              color: #E91E63;
            }

            .pending {
              background: #FF9933;
            }

            .overdue {
              background: #E91E63;
            }

            .edit {
              margin: 3px;
              color: #0033FF;
            }

            .delete {
              color: #E91E63;
              margin: 3px;

            }
          }
        }
      }
    }
  }
}
