html, body {
    padding: 2%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(56,56,95);
    background: linear-gradient(153deg, rgba(56,56,95,1) 0%, rgba(56,56,95,1) 35%, rgba(86,86,166,1) 50%, rgba(29,29,55,1) 65%, rgba(86,86,166,1) 70%);

}