html, body {
    padding: 2%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(110,110,170);
    background: linear-gradient(275deg, rgba(110,110,170,1) 0%, rgba(37,37,59,1) 100%);
}