html, body {
    padding: 1% 3%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    // background: rgb(110,110,170);
    // background: linear-gradient(275deg, rgba(110,110,170,1) 0%, rgba(37,37,59,1) 100%);
    background: #38385F;
}

img{
    width: 100%;
}

.transaprent{
  background: none !important;
}

.blur{
  // -webkit-filter: blur(1.5em);filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='blur5'><feGaussianBlur in='SourceGraphic' stdDeviation='5' /></filter></svg>#blur5");
 
  filter:blur(1.5em);
}



/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(42, 42, 42);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(22, 3, 22);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }
  

  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;

    }
  }