<div class="courses-container">
  <h1>All Courses</h1>
  <div class="search-bar">
    <div>

  <button class="btn btn-transparant brown-border">ADD COURSE</button>
    </div>
    <div class="filter-image">
      <img  src="assets/courses-images/filter.svg" alt="">
    </div>
    <div class="select">
      <select>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
      </select>
    </div>
    <div class="select">
      <select>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
      </select>
    </div>
    <div class="select">
      <select>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
        <option>Hi</option>
      </select>
    </div>
   
    <div>
      <input type="text">
    </div>
    <div>
      <a href="/README.md">Search</a>
    </div>
  </div>
  <div class="courses">
    <app-card-courses></app-card-courses>
  </div>
</div>